<html lang="en">
<head>
	<meta charset="utf-8">
	<title>HTTP Headers</title>

	<!-- Bootstrap -->
	<link href="/sar/Http/libs/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- jQuery -->
	<script src="/sar/Http/libs/js/jquery-1.11.2.min.js" type="text/javascript"></script>
</head>

<body>
	<div class="container">
		<h3>Request:</h3>
		<pre class="log"><%@ Content:Header %></pre>
		
		<h3>Response:</h3>
		<pre class="log" id="clientLog">client log</pre>
		
		<h3>Info:</h3>
		<pre class="log">
screen width: <span id="screen-width"></span>
screen height: <span id="screen-height"></span>
			
availWidth: <span id="screen-avail-width"></span>
availHeight: <span id="screen-avail-height"></span>

window inner width: <span id="window-inner-width"></span>
window inner height: <span id="window-inner-height"></span>
		</pre>
		
		<div id="hidden" style="display: none;"><h1>I'm a PDF</h1></pre></div>
		<br>		
	</div>
	
	<script type="text/javascript">
		var req = new XMLHttpRequest();
		req.open('GET', document.location, false);
		req.send(null);
		var headers = req.getAllResponseHeaders().toLowerCase();
		var contentTypeOptions = req.getResponseHeader('x-content-type-options');
		
		if (contentTypeOptions == 'pdf-render')
		{
			$('#hidden').css("display", "block");
		}
		
		$('#clientLog').html(headers);

		function UpdateHeightWidth()
		{
			$('#screen-width').html(screen.width.toString());
			$('#screen-height').html(screen.height.toString());
			$('#screen-avail-width').html(screen.availWidth.toString());
			$('#screen-avail-height').html(screen.availHeight.toString());
			
			var w = window.innerWidth
			|| document.documentElement.clientWidth
			|| document.body.clientWidth;
			
			var h = window.innerHeight
			|| document.documentElement.clientHeight
			|| document.body.clientHeight;
	
			$('#window-inner-width').html(w.toString());
			$('#window-inner-height').html(h.toString());
		}
		
		window.onresize=function() {
			UpdateHeightWidth();
		}
		
		window.onload=function(){
			UpdateHeightWidth();
		}		

	</script>
</body>
</html>