<div class="row">
  <div class="col-md-2">
    <div class="panel panel-topic">
      <div class="panel-heading">List Group Example</div>
      <ul class="list-group list-instructions">
        <a href="#" class="list-group-item active">First item</a>
        <a href="#" class="list-group-item">Second item</a>
        <a href="#" class="list-group-item">Third item</a>
        <a href="#" class="list-group-item">Second item</a>
        <a href="#" class="list-group-item">Third item</a>
        <a href="#" class="list-group-item">Second item</a>
        <a href="#" class="list-group-item">Third item</a>
        <a href="#" class="list-group-item">Second item</a>
        <a href="#" class="list-group-item">Third item</a>
      </ul>
    </div>
  </div>
  <div class="col-md-6">.col-md-4</div>
  <div class="col-md-4">
    <div class="panel panel-topic">
      <div class="panel-heading">List Group Example</div>
      <ul class="list-group list-instructions">
        <a href="#" class="list-group-item active">First item</a>
        <a href="#" class="list-group-item">Second item</a>
        <a href="#" class="list-group-item">Third item</a>
        <a href="#" class="list-group-item">Second item</a>
        <a href="#" class="list-group-item">Third item</a>
        <a href="#" class="list-group-item">Second item</a>
        <a href="#" class="list-group-item">Third item</a>
        <a href="#" class="list-group-item">Second item</a>
        <a href="#" class="list-group-item">Third item</a>
      </ul>
    </div>
  </div>
</div>
