<div class="button-bar">
  <div class="button-group pull-right">
    <button type="button" class="btn btn-danger" ng-click='grbl("$X\nG92 X0 Y0 Z0");'>zero</button></li>
    <button type="button" class="btn btn-danger" ng-click='reset();'>CTRL+X</button></li>
    <button type="button" class="btn btn-success" ng-click='grbl("~");'>start</button></li>
    <button type="button" class="btn btn-danger" ng-click='grbl("!");'>hold</button></li>
    <button type="button" class="btn btn-warning" ng-click='grbl("$X\nG90\nG0 Z0\nG0 X0 Y0");'>Go Home</button></li>
  </div>
</div>
