
      <div class="table-layout">

        <div class="table-cell left-panel">
          <h5 id="mStatus" style="text-align: right;">Select Port</h5>

          <ul class="nav nav-tabs nav-justified" role="tablist">
            <li id="mpA">
              <a id="mpC" href="#">Machine Position</a>
            </li>
            <li id="wpA" class="active">
              <a id="wpC" href="#">Working Position</a>
            </li>
          </ul>

          <br />

          <div id="mPosition" style="display: none;">
            <center>
              <div id="mX" style="text-align: left; padding-left: 15px; margin: 4px; font-size: 30px; width: 190px; border: 1px solid #aaa; font-weight: bold;">X: 0.000</div>
              <div id="mY" style="text-align: left; padding-left: 15px; margin: 4px; font-size: 30px; width: 190px; border: 1px solid #aaa; font-weight: bold;">Y: 0.000</div>
              <div id="mZ" style="text-align: left; padding-left: 15px; margin: 4px; font-size: 30px; width: 190px; border: 1px solid #aaa; font-weight: bold;">Z: 0.000</div>
            </center>
          </div>

          <div id="wPosition">
            <center>
              <div id="wX" style="text-align: left; padding-left: 15px; margin: 4px; font-size: 30px; width: 190px; border: 1px solid #aaa; font-weight: bold;">X: 0.000</div>
              <div id="wY" style="text-align: left; padding-left: 15px; margin: 4px; font-size: 30px; width: 190px; border: 1px solid #aaa; font-weight: bold;">Y: 0.000</div>
              <div id="wZ" style="text-align: left; padding-left: 15px; margin: 4px; font-size: 30px; width: 190px; border: 1px solid #aaa; font-weight: bold;">Z: 0.000</div>
            </center>
          </div>

          <center>
            <button type="button" class="btn btn-default" style="margin-top: 5px;" id="sendZero">Zero Machine (G92)</button>
          </center>


          <hr style="clear: both;" />

          <div id="zAxisControl" style="float: right;">
            <button type="button" id="zP" class="btn btn-info btn-sm" style="width: 10px;">&uarr;</button>
            <br />
            <button type="button" id="zM" class="btn btn-info btn-sm" style="width: 10px;">&darr;</button>
          </div>

          <div draggable="true" id="betterControls" style="width: 200px; height: 200px; border: 1px solid orange; padding; none; background-color: #fff;">
            <div id="betterControlsPoint" style="position: relative; top: 85px; left: 85px; background-color: red; width: 20px; height: 20px; padding: none;"></div>
          </div>

          <br />

          <select class="form-control" id="jogSpeed">
            <option value="1500">Feed Rate: 1500</option>
            <option selected value="1000">Feed Rate: 1000</option>
            <option value="500">Feed Rate: 500</option>
            <option value="100">Feed Rate: 100</option>
            <option value="5">Feed Rate: 5</option>
          </select>

          <select class="form-control" id="jogSize">
            <option value=".5">Distance: .1</option>
            <option value=".5">Distance: .5</option>
            <option value="1">Distance: 1</option>
            <option value="2">Distance: 2</option>
            <option selected value="5">Distance: 5</option>
            <option value="10">Distance: 10</option>
            <option value="20">Distance: 20</option>
          </select>
        </div>
        <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
        <div class="table-cell">

        </div>
        <div class="table-cell">
        </div>
      </div>
    </div>
