<!DOCTYPE html>
<html ng-app="testApp">
  <head>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
    <script src="http://rawgithub.com/highslide-software/highcharts.com/master/js/adapters/standalone-framework.src.js"></script>
    <script src="http://rawgithub.com/joewalnes/reconnecting-websocket/master/reconnecting-websocket.js"></script>
    <script src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/master/src/scrollglue.js"></script>

    <script src="test.js"></script>
    <link rel="stylesheet" href="test.css">
  </head>

  <body ng-controller="WebSocketController">
    <!-- fixed navbar -->
    <div class="container-fluid" ng-include="'nav.html'"></div>

    <!-- content -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 col-md-3" ng-include="'leftPanel.html'"></div>
        <div class="col-md-3 col-md-9" ng-include="'rightPanel.html'"></div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
  </body>
</html>
