.drop-box
  {

    @include curved_box(8px);
    width: 260px;
    height: 80px;
    border: 3px dotted #ccc;
    background-color: #eee;
    text-align: center;
    padding-top: 30px;
}

.drop-box.dragover
{
    border-color: #0e0;
    background-color: #b2fab2;
}

.drop-box.dragover-err
{
    border-color: #f00;
    background-color: #ffb2b2;
}
