
sar/obj/Debug/sar.csproj.FileListAbsolute.txt
sar/bin/Debug/sar.vshost.exe.manifest
sar/bin/Debug/sar.vshost.exe.config
sar/bin/Debug/sar.vshost.exe
sar/bin/Debug/sar.exe.config
sar.suo
sar/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
sar/obj/Debug/sar.Tools.LogForm.resources
sar/obj/Debug/sar.Tools.ExceptionHandler.resources
sar/obj/Debug/sar.pdb
sar/obj/Debug/sar.exe
sar/obj/Debug/sar.csproj.GenerateResource.Cache
sar/bin/Debug/sar.pdb
sar/bin/Debug/sar.exe
sarTesting/Http/Views/assets/
sar/obj/
sar/bin/
*.zip
